li{
  /* line-height: 10px!important; */

}

:where(.css-dev-only-do-not-override-17a39f8).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item{
  margin-bottom: 10px;
  padding:10px 10px;
  line-height: 20px;
}
